.nav-wrapper{

  background-color: #cc6699
}

.add-height {
    height: 400px;
}

.center{
  text-align: center;

}

/* GameTag specific */
.btn-gameTag{

  background-color: #862d86;
  color: #fff;

}

.page-item.active .page-link {
  background-color: #862d86 !important;
  border-color: #862d86 !important;
}




/**************FORUM LAYOUT****************/
.post__head{

  padding: 24px;
  background-color: #862d86;
  color: #fff;
  font-weight: bold;

}

.post__items:nth-child(odd) {
  background-color: #e3e8ec;

}

.post__items:nth-child(even) {
  background-color: #fcfcfc;
}

.post__items{
    padding: 24px;
}


.post__item {
}

.posts__topics{

  padding-left: 30px;

}


.searchbox{
    display:inline-block !important;
    padding:20px 10px !important;
    line-height:100% !important;
    font-size:26px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
}

/* breadcrumb in forum */
 /* .breadcrumb{
  background-color: #fff;
  /* color: #013b70;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3px !important;
} */

.breadcrumb-item  > a{
  color:#013b70 !important;
}

.breadcrumb-item > a:visited{
  color:#013b70 !important;
}

.breadcrumb-item.active{



}

.breadcrumb-item + .breadcrumb-item::before {
        content: "|";
        color: #013b70;
        font-size: 1rem;
        font-weight: bold;
    }

/* .pagination > li > a
{
    background-color: white;
    color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: purple;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: purple;
    border: solid 1px purple;
}

.pagination > .active > a:hover
{
    background-color: purple;
    border: solid 1px purple;
} */

/* Create forum */
input[name='published']{
  width: 2%;
}


/*******************/
.profile_name{

  text-align: center;
  color: #862d86;
  font-size: 4rem;
  font-weight: bold;
}

a:link {
  color: #fff !important;
}

/* visited link */
a:visited {
  color: #fff !important;
}

/* mouse over link */
a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

/* selected link */
a:active {
  color: #fff !important;
}

a.forum {
  color: #000 !important;
  text-decoration: none !important;
}

a.foot {
  color: #000 !important;
  font-size: 12px !important;
  text-decoration: none !important;
}
