{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178055643-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178055643-1');
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href ="{% static 'css/style.css' %}">
    {% block stylesheet %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>

    {% block script %}{% endblock %}


    <meta charset="utf-8">
    <meta name="description" content="A place where gamers can hangout and meet other gamers.  Create your own forum and start discussion games with other gamers">
    <title>{% block title %}GameTag - A place where gamers can hangout and meet other gamers{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container mb-3">
      <nav class="navbar navbar-expand-lg" style="background-color: #862d86">
        {% if user.is_authenticated %}
          <a href="{% url 'index' %}" class="" style="color: #fff; font-size: 2rem">GameTag</a>
        {% else %}
          <a href="{% url 'index' %}" class="" style="color: #fff; font-size: 4rem">GameTag</a>
        {% endif %}
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" alt="Login"><i class="medium material-icons" style="color: #fff; font-size: 3rem">videogame_asset</i></a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}"><i class="medium material-icons" style="color: #fff; font-size: 3rem">account_circle</i></a>
            </li>
            {% endif %}

          </ul>
      </nav>
    </div>
    {% if messages %}
    <div class="container" style="margin-top: 100px">

        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
        {% endfor %}

    </div>
    {% endif %}
    <div class="container">      
      {% block content %}
      {% endblock content %}
    </div>

    <div class="container mt-5">
        <!-- Footer -->
        <footer class="page-footer mt-auto font-small pt-4">

          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">

              <small class="footer-copyright text-center pb-1">© 2020 Copyright:
                GameTag.se
                <a href="mailto:info@gametag.se" class="forum">info@gametag.se</a>
              </small>
          </div>

        </footer>
        <!-- Footer -->
  </div>
  </body>
</html>
