{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="container">

      <!-- <div class="row">

            {% for forum in forums %}
              <div class="col" >
                  <a class="forum" href="{% url 'forum_threads' forum.id %}">{{ forum.name }}</a>
              </div>
            {% endfor %}
      </div> -->

        <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th>Forum</th>
              <th>Posts</th>
              <th>Threads</th>
              <th>Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
              <tr>
                <td>
                  <a class="forum" href="{% url 'forum_threads' forum.id %}">{{ forum.name }}</a>
                  <small class="text-muted d-block">{{ forum.desc }}</small>
                </td>
                <td class="align-middle">
                  {{ forum.get_posts_count }}
                </td>
                <td class="align-middle">
                  {{ forum.threads.count }}
                </td>
                <td class="align-middle">
                  {% with post=forum.get_last_post %}
                    <small>
                      <a class="forum" href="#">
                        By {{ post.creator.username }} at {{ post.created_at }}
                      </a>
                    </small>
                  {% endwith %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  {% else %}
    <p>Your'e not logged in</p>
  {% endif %}


{% endblock %}
