{% extends 'base.html' %}

{% block title %}Edit post{% endblock %}

{% block content %}

<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a class="forum" href="{% url 'home' %}">Forums</a></li>
  <li class="breadcrumb-item"><a class="forum" href="{% url 'forum_threads' post.thread.forum.id %}">{{ post.thread.forum.name }}</a></li>
  <li class="breadcrumb-item"><a class="forum" href="{% url 'thread_posts' post.thread.forum.id post.thread.id %}">{{ post.thread.name }}</a></li>
  <li class="breadcrumb-item active">Edit post</li>
</ol>

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a class="forum" href="{% url 'thread_posts' post.thread.forum.id post.thread.id %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
