{% extends 'base.html' %}

{% block title %}Start a new thread{% endblock %}


{% block content %}

  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a class="forum" href="{% url 'home' %}">Forums</a></li>
    <li class="breadcrumb-item"><a class="forum" href="{% url 'forum_threads' forum.id %}">{{ forum.name }}</a></li>
    <li class="breadcrumb-item active">New thread</li>
  </ol>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Post</button>
  </form>

{% endblock %}
