{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a class='forum' href="{% url 'home' %}">Forums</a></li>
    <li class="breadcrumb-item active">{{ forum.name }}</li>
  </ol>

<div class="mb-4">
  <a href="{% url 'new_thread' forum.id %}" class="btn btn-gameTag">New thread</a>
</div>
  <table class="table">
   <thead class="thead-inverse">
     <tr>
       <th>Thread</th>
       <th>Starter</th>
       <th>Replies</th>
       <th>Views</th>
       <th>Last Update</th>
     </tr>
   </thead>
   <tbody>
     {% for thread in threads %}
        {% url 'thread_posts' forum.id thread.id as thread_url %}
       <tr>
         <td>
            <p class="mb-0">
              <a class="forum" href="{{ thread_url }}">{{ thread.name }}</a>
            </p>
            <small class="text-muted">
              Pages:
              {% for i in thread.get_page_range %}
                <a class="forum" href="{{ thread_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if thread.has_many_pages %}
              ... <a class="forum" href="{{ thread_url }}?page={{ thread.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
         <td>{{ thread.creator.username }}</td>
         <td>{{thread.replies}}</td>
         <td>{{ thread.views }}</td>
         <td>{{ thread.last_activity|naturaltime }}</td>
       </tr>
     {% endfor %}
   </tbody>
 </table>

 {% include 'includes/pagination.html' %}
</div>
{% endblock content %}
